@model SagViewModel

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Egne sager</title>
</head>

<p class="title">Egne Sager
        <button class="float-right">
            <a asp-action="Create">Create New</a>
        </button>
</p>

<body>
    <div class="container">
        <div class="col-3 master">
            <div class="master-item active-item">
                Option 1
            </div>
            @foreach (var item in Model.Sager)
            {
                <div class="master-item" onclick="select(this)">
                    @Html.DisplayFor(modelItem => item.Subject)
                    @*<p> @Html.DisplayFor(modelItem => item.Text)</p>*@
                </div>
            }
        </div>
        <div class="col-9 detail" onclick="select(this)">
            <h1 class="detail-title">@Html.DisplayFor(model => model.CurrentSag.Subject)</h1>
            <div>
                @Html.DisplayNameFor(model => model.CurrentSag.Subject):
                <div>
                    @Html.DisplayFor(model => model.CurrentSag.Subject)
                </div>
            </div>
            <p>
                @Html.DisplayNameFor(model => model.CurrentSag.Text):
                @Html.DisplayFor(model => model.CurrentSag.Text)
            </p>
            <p>
                <br />
                @Html.DisplayNameFor(model => model.CurrentSag.URLImage):
                @Html.DisplayFor(model => model.CurrentSag.URLImage)
            </p>
            <table>
                <tbody>
                    <tr>
                        <td>
                                <a asp-action="Edit" asp-route-id="model.CurrentSag.Id">Edit</a>
                                <a asp-action="Delete" asp-route-id="model.CurrentSag.Id">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>




@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table float-left">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentSag.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentSag.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentSag.URLImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sager) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URLImage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="float-right">
    <table class="table float-right">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentSag.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentSag.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentSag.URLImage)
                </th>
                <th></th>
            </tr>
        </thead>

    </table>
</div>*@
